[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Yum Extender Update Checker
Type=Application
Exec=yumex-dnf-updatechecker
Terminal=false
Icon=yumex
Comment=Autostart yumex-dnf-updatechecker script
NoDisplay=false
Categories=Utility;
