[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Yum Extender
Type=Application
Exec=yumex-nextgen --icononly
Terminal=false
Icon=yumex
Comment=Graphical Package Manager
NoDisplay=false
Categories=Utility;
