$Gtk_blue_1: #99c1f1;
$Gtk_blue_2: #62a0ea;
$Gtk_blue_3: #3584e4;
$Gtk_blue_4: #1c71d8;
$Gtk_blue_5: #1a5fb4;
$Gtk_green_1: #8ff0a4;
$Gtk_green_2: #57e389;
$Gtk_green_3: #33d17a;
$Gtk_green_4: #2ec27e;
$Gtk_green_5: #26a269;
$Gtk_yellow_1: #f9f06b;
$Gtk_yellow_2: #f8e45c;
$Gtk_yellow_3: #f6d32d;
$Gtk_yellow_4: #f5c211;
$Gtk_yellow_5: #e5a50a;
$Gtk_orange_1: #ffbe6f;
$Gtk_orange_2: #ffa348;
$Gtk_orange_3: #ff7800;
$Gtk_orange_4: #e66100;
$Gtk_orange_5: #c64600;
$Gtk_red_1: #f66151;
$Gtk_red_2: #ed333b;
$Gtk_red_3: #e01b24;
$Gtk_red_4: #c01c28;
$Gtk_red_5: #a51d2d;
$Gtk_purple_1: #dc8add;
$Gtk_purple_2: #c061cb;
$Gtk_purple_3: #9141ac;
$Gtk_purple_4: #813d9c;
$Gtk_purple_5: #613583;
$Gtk_brown_1: #cdab8f;
$Gtk_brown_2: #b5835a;
$Gtk_brown_3: #986a44;
$Gtk_brown_4: #865e3c;
$Gtk_brown_5: #63452c;
$Gtk_light_1: #ffffff;
$Gtk_light_2: #f6f5f4;
$Gtk_light_3: #deddda;
$Gtk_light_4: #c0bfbc;
$Gtk_light_5: #9a9996;
$Gtk_dark_1: #77767b;
$Gtk_dark_2: #5e5c64;
$Gtk_dark_3: #3d3846;
$Gtk_dark_4: #241f31;
$Gtk_dark_5: #000000;

$Material_Dark_Red:            #EF9A9A;
$Material_Dark_Pink:           #F48FB1;
$Material_Dark_Purple:         #CE93D8;
$Material_Dark_DeepPurple:     #B39DDB;
$Material_Dark_Indigo:         #9FA8DA;
$Material_Dark_Blue:           #90CAF9;
$Material_Dark_LightBlue:      #81D4FA;
$Material_Dark_Cyan:           #80DEEA;
$Material_Dark_Teal:           #80CBC4;
$Material_Dark_Green:          #A5D6A7;
$Material_Dark_LightGreen:     #C5E1A5;
$Material_Dark_Lime:           #E6EE9C;
$Material_Dark_Yellow:         #FFF59D;
$Material_Dark_Amber:          #FFE082;
$Material_Dark_Orange:         #FFCC80;
$Material_Dark_DeepOrange:     #FFAB91;
$Material_Dark_Brown:          #BCAAA4;
$Material_Dark_Grey:           #EEEEEE;
$Material_Dark_BlueGrey:       #B0BEC5;

$Material_Light_Red:          #F44336;
$Material_Light_Pink:         #E91E63;
$Material_Light_Purple:       #9C27B0;
$Material_Light_DeepPurple:   #673AB7;
$Material_Light_Indigo:       #3F51B5;
$Material_Light_Blue:         #2196F3;
$Material_Light_LightBlue:    #03A9F4;
$Material_Light_Cyan:         #00BCD4;
$Material_Light_Teal:         #009688;
$Material_Light_Green:        #4CAF50;
$Material_Light_LightGreen:   #8BC34A;
$Material_Light_Lime:         #CDDC39;
$Material_Light_Yellow:       #FFEB3B;
$Material_Light_Amber:        #FFC107;
$Material_Light_Orange:       #FF9800;
$Material_Light_DeepOrange:   #FF5722;
$Material_Light_Brown:        #795548;
$Material_Light_Grey:         #9E9E9E;
$Material_Light_BlueGrey:     #607D8B;
