$color_install:     #8BE8FD;
$color_update:      #FF79C6;
$color_downgrade:   #50FA7B;
$color_normal:      #FFB86C;
$color_obsolete:    #FFB86C;

$bg_color:          #21252b;
$primary_dark:      #282A36;
$primary:           #44475A;
$primary_light:     #566388;
$primary_lighter:   #6272A4;
$text_color:        #F8F8F2;
$other_search:      #FFB86C;
$other_infobar:     #F1FA8C;
$secondary:         #FF79C6;

@import 'colors';
@import 'base';

